# CloudPirates / Official Image Configuration

# 1. Replica Count
replicaCount: 1

# 2. Ingress (Expose UI)
ingress:
  enabled: false

# 3. Disable built-in Postgres
postgres:
  enabled: false

# 4. Add OBO feature
conf:
  features: "token-exchange,hostname:v2"

http:
  relativePath: '/'

database:
  vendor: "postgres"
  hostname: "auth-postgres.auth.svc.cluster.local"
  port: "5432"
  database: "keycloak"
  username: "keycloak"
  existingSecret: "keycloak-db-creds"

command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
  - "--http-port=8080"
  - "--hostname-strict=false"


