# CloudPirates / Official Image Configuration

# 1. Replica Count
replicaCount: 1

# 2. Ingress (Expose UI)
ingress:
  enabled: false

# 3. Disable built-in Postgres
postgres:
  enabled: false

# 4. Add OBO feature
conf:
  features: "token-exchange,hostname:v2"

http:
  relativePath: '/'

database:
  vendor: "postgres"
  hostname: "auth-postgres.auth.svc.cluster.local"
  port: "5432"
  database: "keycloak"
  username: "keycloak"
  existingSecret: "keycloak-db-creds"

command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
  - "--http-port=8080"
  - "--hostname-strict=false"

# 5. Environment Variables (The Universal Config)
# Instead of relying on chart-specific parameters, we set standard Keycloak Env Vars.
extraEnv: |
  # --- Admin Credentials ---
  - name: KC_BOOTSTRAP_ADMIN_USERNAME
    value: admin
  - name: KC_BOOTSTRAP_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: keycloak-admin-creds
        key: admin-password

  # --- Operational Settings ---
  - name: KC_HOSTNAME
    value: "https://192.168.1.38:7001"
  - name: KC_HTTPS_PORT
    value: "7001"
  - name: KC_HTTP_RELATIVE_PATH
    value: "/"
  - name: KC_PROXY
    value: "edge"
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_LOG_LEVEL
    value: "INFO,org.keycloak.events:DEBUG"
  - name: KC_METRICS_ENABLED
    value: "true"
  - name: KC_HEALTH_ENABLED
    value: "true"
  - name: JAVA_OPTS_APPEND
    value: >-
      -Djgroups.dns.query={{ include "keycloak.fullname" . }}-headless
