# 1. Admin Credentials (using your existing secret)
admin:
  existingSecret: "grafana-admin-creds"
  userKey: "admin-user"
  passwordKey: "admin-password"

# 2. Persistence
persistence:
  enabled: true
  storageClassName: local-path
  size: 10Gi

# 3. Ingress (Expose via Traefik)
ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - grafana.lan # Or grafana.localhost

# 4. Data Sources (Connect to the NEW Prometheus service)
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        # NOTE: The standalone chart service name is usually '{releaseName}-server'
        url: http://mon-prometheus-server.monitoring.svc.cluster.local
        access: proxy
        isDefault: true

      - name: Loki
        type: loki
        url: http://mon-loki-gateway.monitoring.svc
        access: proxy
        jsonData:
          derivedFields:
            - datasourceUid: tempo
              matcherRegex: "traceID=(\\w+)"
              name: TraceID
              url: "$${__value.raw}"

      - name: Tempo
        type: tempo
        url: http://mon-tempo.monitoring.svc:3100
        access: proxy

grafana.ini:
  server:
    # Critical for the redirect to work correctly
    root_url: https://${CLUSTER_IP}:${GRAFANA_PORT}
    domain: ${CLUSTER_IP}

  auth.generic_oauth:
    enabled: true
    name: Keycloak
    allow_sign_up: true
    client_id: $__file{/etc/secrets/auth_grafana_keycloak_oauth/client_id}
    client_secret: $__file{/etc/secrets/auth_grafana_keycloak_oauth/client_secret}
    scopes: openid profile email offline_access roles
    auth_url: https://${CLUSTER_IP}:${KC_PORT}/realms/${KC_REALM}/protocol/openid-connect/auth
    token_url: https://${CLUSTER_IP}:${KC_PORT}/realms/${KC_REALM}/protocol/openid-connect/token
    api_url: https://${CLUSTER_IP}:${KC_PORT}/realms/${KC_REALM}/protocol/openid-connect/userinfo

    # Since we are using self-signed certs (or custom CA), Grafana will fail
    # to call Keycloak unless we verify skip or mount the CA.
    # For now, skip verify is easiest:
    tls_skip_verify_insecure: true

    # This magic line maps the "grafana-admin" Keycloak role to Grafana Admin
    role_attribute_path: contains(realm_access.roles[*], 'grafana-admin') && 'Admin' || contains(realm_access.roles[*], 'grafana-editor') && 'Editor' || 'Viewer'

extraSecretMounts:
  - name: grafana-oauth-keycloak-creds-mount
    secretName: grafana-oauth-keycloak-creds
    defaultMode: 0440
    mountPath: /etc/secrets/auth_grafana_keycloak_oauth
    readOnly: true