# prom-stack-values.yaml (UPDATED)

alertmanager:
  enabled: false

prometheus:
  enabled: true
  prometheusSpec:
    # 1. ENABLE THIS: Allow Prometheus to accept pushed metrics
    enableRemoteWriteReceiver: true

    retention: 14d
    resources:
      requests:
        memory: 1Gi
      limits:
        memory: 2Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

grafana:
  enabled: true
  admin:
    existingSecret: "grafana-admin-creds"
    userKey: "admin-user"
    passwordKey: "admin-password"
  persistence:
    enabled: true
    size: 10Gi
  additionalDataSources:
    - name: Loki
      type: loki
      url: http://mon-loki-gateway.monitoring.svc
      access: proxy
      jsonData:
        derivedFields:
          - datasourceUid: tempo
            matcherRegex: "traceID=(\\w+)"
            name: TraceID
            url: "$${__value.raw}"
    - name: Tempo
      type: tempo
      url: http://mon-tempo.monitoring.svc:3100
      access: proxy